In [151]:
import pandas as pd

In [152]:
data = pd.read_csv('../../data/citibike-tripdata.csv', sep=',')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [153]:
display(data.shape[0] - data['start station id'].count())

np.int64(169)

In [154]:
display(data['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [155]:
display(data['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [156]:
display(round(data['usertype'].value_counts(normalize=True).max(), 2))

np.float64(0.77)

In [157]:
display(data['gender'].value_counts().max())

np.int64(183582)

In [158]:
display(data['start station id'].nunique() != data['end station id'].nunique())
display((2018 - data['birth year'].max()) == 10)
display(data['start station name'].value_counts(ascending=True).index[0] == "Eastern Pkwy & Washington Ave")
display(data['end station name'].value_counts().index[0] == "Liberty Light Rail")

True

np.False_

True

False

In [159]:
data.drop(['start station id', 'end station id'], axis=1, inplace=True)
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

In [160]:
data['age'] = 2018 - data['birth year']
data.drop('birth year', axis=1)
display(data['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [161]:
display(data[data['age'] > 60].shape[0])

11837

In [162]:
data['starttime'] = pd.to_datetime(data['starttime'])
data['stoptime'] = pd.to_datetime(data['stoptime'])
data['trip duration'] = data['stoptime'] - data['starttime']
display(data['trip duration'].iloc[3])

Timedelta('0 days 00:07:16.837000')

In [163]:
data['weekend'] = data['starttime'].dt.dayofweek.apply(lambda x: 1 if x > 4 else 0)
display(data[data['weekend'] == 1].shape[0])

115135

In [164]:
def get_time_of_day(hour):
    if hour >= 0 and hour <= 6:
        return "night"
    if hour > 6 and hour <= 12:
        return "morning"
    if hour > 12 and hour <= 18:
        return "day"
    if hour > 18 and hour <= 23:
        return "evening"

data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day)
display(data['time_of_day'])

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [165]:
display(data['time_of_day'].value_counts())

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [ ]:
day_trips = data[data['time_of_day'] == "day"].shape[0]
night_trips = data[data['time_of_day'] == "night"].shape[0]
trips_diff = abs(day_trips - night_trips) / day_trips
display(round(trips_diff))

8