In [1]:
import pandas as pd

In [2]:
student_data = pd.read_csv('../../data/students_performance.csv', sep=',')

In [3]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [20]:
student_data.describe(include="all")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [13]:
student_data.loc[155, "writing score"]

np.int64(88)

In [14]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [17]:
student_data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

In [23]:
student_data["math score"].mean()

np.float64(66.089)

In [75]:
display(student_data["race/ethnicity"].value_counts())
display(student_data["race/ethnicity"].mode())

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

0    group C
Name: race/ethnicity, dtype: object

In [28]:
# student_data["test preparation course"].value_counts()
completed_test_preparation_course_mask = student_data["test preparation course"] == "completed"
student_data[completed_test_preparation_course_mask]["reading score"].mean()

np.float64(73.89385474860335)

In [32]:
zero_math_score_mask = student_data["math score"] == 0
student_data[zero_math_score_mask].shape[0]

1

In [61]:
for key in student_data["lunch"].value_counts().keys():
    lunch_mask = student_data["lunch"] == key
    math_score_mean = student_data[lunch_mask]["math score"].mean()
    display(f"{key} {math_score_mean}")

student_data.groupby(["lunch"])["math score"].mean()

'standard 70.03410852713178'

'free/reduced 58.92112676056338'

lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64

In [71]:
# student_data["parental level of education"].value_counts().keys()

parental_level_of_education_mask = student_data["parental level of education"] == "bachelor's degree"
student_data[parental_level_of_education_mask].shape[0] / student_data.shape[0] * 100.0

11.799999999999999

In [73]:
race_a_mask = student_data["race/ethnicity"] == "group A"
race_c_mask = student_data["race/ethnicity"] == "group C"
race_a_median_writing_score = student_data[race_a_mask]["writing score"].median()
race_c_mean_writing_score = student_data[race_c_mask]["writing score"].mean()
writing_score_diff = abs(race_a_median_writing_score - race_c_mean_writing_score)
display(writing_score_diff)

np.float64(5.827586206896555)